# PARSES PEER INFORMATION FROM THE GIVEN FILE, STEP 1

# NOTE: Should be #1, but file name is RUBRIC-DEPENDENT!

def parse_peerinfo(filepath="PeerInfo.cfg"):
    peers = []
    with open(filepath, 'r') as file:
        for line in file:
            parts = line.split()
            peer = {
                'peer_id': parts[0],
                'host_name': parts[1],
                'port_number': int(parts[2]),
                'has_file': parts[3] == '1'
            }
            peers.append(peer)
    return peers
